* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Righteous', cursive;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
  background: linear-gradient(to bottom, #bee2ff, #ffffff00);
  min-height: 120px;
}

.header__inner {
  text-align: center;
}

.header__logo {
  margin-right: 15px;
}

.header__logo-text {
  font-size: 50px;
  font-weight: bold;
  color: #084b81;
}

.calendar {
  padding: 20px 0;
}

.calendar__sprint {
  margin-bottom: 10px;
  text-align: center;
}

.calendar__sprint-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Akaya Telivigala', cursive;
}

.calendar__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  align-items: flex-start;
}

.calendar__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.calendar__item {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  grid-auto-rows: minmax(60px, 1fr);
  justify-items: center;
  align-items: center;
  box-shadow: 0px 50px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.calendar__item-title {
  font-size: 22px;
  grid-column: 1 / -1;
}

.calendar__item-day-title {
  color: #084b81;
}

.calendar__item-title, .calendar__item-day-title, .calendar__item-day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__item-day {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  font-size: 14px;
}

.calendar__item:nth-child(odd) {
  justify-self: end;
}

.calendar__item:nth-child(even) {
  justify-self: start;
}

.calendar__legend {
  padding: 30px 20px 10px;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.calendar__legend-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Akaya Telivigala', cursive;
}

.calendar__teammates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.calendar__teammates-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(177, 177, 177, 0.5);
  border-radius: 40px;
  padding: 10px;
  opacity: 0.6;
  transition: all .3s;
}

.calendar__teammates-item--duty {
  opacity: 1;
  box-shadow: 2px 5px 10px #00000036;
}

.calendar__teammates-item:hover {
  opacity: 1;
  cursor: pointer;
}

.calendar__teammates-img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.calendar__teammates-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.calendar__teammates-name {
  margin-bottom: 5px;
}

.calendar__teammates-hours {
  font-size: 13px;
}

.calendar__teammates-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.past-day {
  color: #80808096;
}

.weekend {
  color: #199ad6;
}

.past-day.weekend {
  color: #199ad68e;
}

.today {
  width: 90%;
  height: 90%;
  font-size: 16px;
  box-shadow: 0px 3px 10px #ffffffad inset, 0px -5px 10px #ffffffad inset, 0px 1px 3px #000000b4;
}

.footer {
  padding: 15px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.198);
}

.footer__inner {
  text-align: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item {
  margin-right: 10px;
  opacity: 0.7;
  transition: all .3s;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item-img {
  width: 36px;
}

.footer__item:hover {
  opacity: 1;
}

.footer__copyright {
  font-size: 14px;
}

@media (max-width: 990px) {
  .calendar__item {
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-auto-rows: minmax(50px, 1fr);
  }
}

@media (max-width: 870px) {
  .calendar__item:nth-child(n) {
    justify-self: center;
  }
  .calendar__teammates {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 460px) {
  .header__logo {
    max-width: 160px;
  }
  .header__logo-text {
    font-size: 32px;
  }
  .calendar__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .calendar__item {
    padding: 15px;
    grid-template-columns: repeat(7, minmax(40px, 1fr));
    grid-auto-rows: minmax(40px, 1fr);
    box-shadow: 0px 20px 40px rgba(229, 233, 246, 0.4);
  }
  .calendar__item-title {
    font-size: 20px;
  }
  .calendar__item-day-title {
    font-size: 14px;
  }
  .calendar__item-day {
    width: 70%;
    height: 70%;
    font-size: 12px;
  }
  .calendar__teammates {
    max-width: 300px;
  }
}

@media (max-width: 350px) {
  .calendar__grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendar__item {
    padding: 10px;
  }
  .calendar__item-title {
    font-size: 18px;
  }
  .calendar__item-day-title {
    font-size: 12px;
  }
  .calendar__item-day {
    width: 70%;
    height: 70%;
    font-size: 10px;
  }
}
