* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 830px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 20px 0;
  background-color: #eaeaea;
}

.header__inner {
  text-align: center;
}

.header__logo {
  margin-right: 15px;
  height: 32px;
}

.header__logo-text {
  font-size: 40px;
  font-weight: bold;
  color: #084b81;
}

.calendar {
  padding: 20px 0;
}

.calendar__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: flex-start;
}

.calendar__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.calendar__item {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-auto-rows: 50px;
  justify-items: center;
  align-items: center;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.calendar__item-title {
  font-size: 22px;
  font-weight: bold;
  grid-column: 1 / -1;
}

.calendar__item-day-title {
  font-weight: bold;
  color: #084b81;
}

.calendar__item-title, .calendar__item-day-title, .calendar__item-day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__item-day {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.calendar__legend {
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
}

.calendar__legend-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.calendar__teammates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.calendar__teammates-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(177, 177, 177, 0.5);
  border-radius: 40px;
  padding: 10px;
}

.calendar__teammates-img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.calendar__teammates-name {
  margin-right: 10px;
}

.calendar__teammates-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.past-day {
  color: #80808096;
}

.weekend {
  color: #199ad6;
}

.past-day.weekend {
  color: #199ad68e;
}

.today {
  font-weight: bold;
  position: relative;
}

.today::after {
  content: "";
  position: absolute;
  width: 20px;
  bottom: 8px;
  height: 2px;
  background-color: #084b81;
  border-radius: 15px;
}

.footer {
  padding: 20px 0;
  background-color: #eaeaea;
}

.footer__inner {
  text-align: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item {
  margin-right: 10px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item-img {
  width: 36px;
}

.footer__copyright {
  font-size: 14px;
}

@media (max-width: 840px) {
  .calendar__teammates {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .calendar__teammates {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .calendar__teammates {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 335px) {
  .calendar__teammates {
    grid-template-columns: repeat(1, 1fr);
  }
}
