* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

$accent-color-dark: #084b81;
$accent-color-light: #084b81;

.header {
    padding: 20px 0;
    background-color: #eaeaea;

    &__inner {
        text-align: center;
    }

    &__logo {
        margin-right: 15px;
        // height: 32px;

        &-text {
            font-size: 50px;
            font-weight: bold;
            color:#084b81;
        }
    }
}

.calendar {
    padding: 20px 0;

    &__grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-items: center;
        align-items: flex-start;
    }

    &__title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }

    &__item {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(7, minmax(50px, 1fr));
        grid-auto-rows: minmax(50px, 1fr);
        justify-items: center;
        align-items: center;

        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;

        &-title {
            font-size: 22px;
            font-family: 'Roboto Mono', monospace;;
            font-weight: bold;
            grid-column: 1 / -1;
        }

        &-day-title {
            font-weight: bold;
            color:#084b81;
        }

        &-title,
        &-day-title,
        &-day {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-day {
            width: 75%;
            height: 75%;
            border-radius: 50%;
            font-size: 12px;
        }

        &:nth-child(odd) {
            justify-self: end;
        }
        
        &:nth-child(even) {
            justify-self: start;
        }
    }

    &__legend {
        padding: 40px 20px;
        max-width: 900px;
        text-align: center;
        margin: 0 auto;

        &-title {
            font-size: 24px;
            margin-bottom: 20px;
        }
     }

    &__teammates {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
        gap: 20px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 10px 20px rgba(177, 177, 177, 0.5);
            border-radius: 40px;
            padding: 10px;
        }

        &-img {
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        &-name {
            margin-right: 10px;
        }

        &-color {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}

.past-day {
    color: #80808096;
}

.weekend {
    color: #199ad6;
}

.past-day.weekend {
    color: #199ad68e;
}

.today {
    font-weight: bold;
    position: relative;
    width: 90%;
    height: 90%;
    font-size: 16px;
}

.footer {
    padding: 15px 0;
    border-top: 1px solid rgba(134, 134, 134, 0.472);

    &__inner {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin-right: 10px;
        opacity: 0.7;
        transition: all .3s;
        &:last-child {
            margin-right: 0;
        }

        &-img {
            width: 36px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__copyright {
        font-size: 14px;
    }
}

@media (max-width: 870px) {
    .calendar {
        &__item {
            &:nth-child(n) {
                justify-self: center
            }
        }

        &__teammates {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 460px) {
    .header {
        &__logo{
            max-width: 160px;
            &-text {
                font-size: 32px;
            }
        }
    }
    .calendar {
        &__grid {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        &__item {
            padding: 15px;
            grid-template-columns: repeat(7, minmax(40px, 1fr));
            grid-auto-rows: minmax(40px, 1fr);
            box-shadow: 0px 20px 40px rgba(229, 233, 246, 0.4);
    
            &-title {
                font-size: 20px;
            }

            &-day-title {
                font-size: 14px;
            }
    
            &-day {
                width: 70%;
                height: 70%;
                font-size: 12px;
            }
        }

        &__teammates {
            max-width: 300px;
        }
    }
}

@media (max-width: 350px) {
    .calendar {
        &__grid {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

        &__item {
            padding: 10px;
    
            &-title {
                font-size: 18px;
            }

            &-day-title {
                font-size: 12px;
            }
    
            &-day {
                width: 70%;
                height: 70%;
                font-size: 10px;
            }
        }
    }
}